.products__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
    padding: 20px;
   
}

.FilterContainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid red;
}